@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    @apply text-textColor;
    margin: 0;
    padding: 0;
    @apply w-full max-w-[85rem] mx-auto bg-black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .gradient-bg {
    background: linear-gradient(-45deg, #161325, #3e3e3e, #2f2e32);
    background-size: 200% 200%;
    animation: bgAnimation 9s infinite;
}

@keyframes bgAnimation {
    0% {
        background-position: 0% 80%;
    }
    50% {
        background-position: 100% 80%;
    }
    100% {
        background-position: 0% 80%;
    }
} */

.noise::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    opacity: 0;
    z-index: -2;
    pointer-events: none;
    background: url("/images/noise.gif");
}
