@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
    background: linear-gradient(-45deg, #332c55, #161325, #2f2e32);
    background-size: 200% 200%;
    animation: bgAnimation 9s infinite;
}

@keyframes bgAnimation {
    0% {
        background-position: 0% 80%;
    }
    50% {
        background-position: 100% 80%;
    }
    100% {
        background-position: 0% 80%;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
}
.noise::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    opacity: 0.6;
    z-index: -1;
    pointer-events: none;
    background: url("/images/noise.gif");
}
