@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    @apply text-textColor;
    margin: 0;
    padding: 0;
    @apply w-full max-w-[85rem] mx-auto bg-black;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noise::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    opacity: 0;
    z-index: -2;
    pointer-events: none;
    background: url("/images/noise.gif");
}
