.menuContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pixelBackground {
    display: flex;
    height: 100vh;
    overflow: hidden;
    .column {
        width: 5vw;
        height: 100%;
    }
    .block {
        height: 5vw;
        width: 100%;
        background-color: red;
    }
}
