.menuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem;
    position: relative;
}

.menuBtn {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 50;
}

.menuBtn::after,
.menuBtn::before {
    content: "";
    display: block;
    width: 2rem;
    height: 0.3rem;
    background: #fff;
    margin: 0.4rem 0;
}

.menuItemsContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("/images/noise.gif");
    z-index: 49;
}

.menuItemsContainer button {
    font-size: 3rem;
    font-weight: 900;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

